<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbKL-L0bTJ_gLib7r6Gc1bEgC2l4Kjvhc</string>
	<key>GCM_SENDER_ID</key>
	<string>104470295914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todotodo</string>
	<key>PROJECT_ID</key>
	<string>todotodo-fa88a</string>
	<key>STORAGE_BUCKET</key>
	<string>todotodo-fa88a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104470295914:ios:fdbb0c6715b75debc72113</string>
</dict>
</plist>